<div *ngIf="proyectosCargados"  class="container">
        <app-app-loading></app-app-loading>
</div>

<mat-sidenav-container *ngIf="!proyectosCargados" class="animated fadeIn mat-sidenav-container">
	<mat-sidenav class="sidenav-bar" mode="side" #sidenav [opened]="opened">
		<div class="row justify-content-end">
			<button class="btn btn-link ml-2" mat-button (click)="sidenav.toggle(); opened = false;"><i class="fas fa-times"></i></button>
		</div>
		<div class="row justify-content-between">
				<!-- AQUI DEBE MOSTRAR TODOS LOS PROYECTOS A LOS QUE PERTENECE -->
				<div class="dropdown">
						<select #selectProyectos id="selectProyectos" (change)="cambiarTipo(selectProyectos.value)" class="ml-3 custom-select">
								<option value="0">--Seleccione un proyecto--</option>
								<option *ngFor="let proyecto of proyectos; let i of index;" 
								[value]="proyecto.id">{{proyecto.titulo}}</option>
							  </select>
					</div>
	
		</div> 
		<hr>
		<br>
		<button (click)="tab=0;" class="btn btn-light btn-block" ><i class="fas fa-home"></i> Home</button>
		<button *ngIf="this.proyectoEscogido != '0'" (click)="tab=1;" class="btn btn-light btn-block" ><i class="fas fa-comments"></i> Inbox</button>
		<button *ngIf="this.proyectoEscogido != '0'" (click)="tab=2;" class="animated fadeIn btn btn-light btn-block"><i class="fas fa-calendar-alt"></i> Clases</button>
		<button *ngIf="this.proyectoEscogido != '0'" (click)="tab=3;" class="animated fadeIn btn btn-light btn-block"><i class="fas fa-users"></i> Tu grupo</button>
		<!-- AQUI SI EL USUARIO ES DUEÑO DEL PROYECTO O LIDER PUEDE ASIGNAR TAREA -->
		<button *ngIf="this.proyectoEscogido != '0'" (click)="tab=4;" class="animated fadeIn btn btn-light btn-block"><i class="fas fa-tasks"></i> Nueva clase</button>
		<button *ngIf="this.proyectoEscogido != '0'" (click)="tab=5;" class="animated fadeIn btn btn-light btn-block"><i class="fas fa-chalkboard-teacher"></i> Foro de discusión</button>
		<!-- <button *ngIf="this.proyectoEscogido != '0'" (click)="tab=5;" class="animated fadeIn btn btn-light btn-block"><i class="fas fa-cog"></i> Configuraciones</button> -->
	</mat-sidenav>
  
	<mat-sidenav-content>
		<button *ngIf="!opened" (click)="opened = true;" class="btn btn-dark mt-2 ml-2" mat-button (click)="sidenav.toggle()"><i class="fas fa-bars"></i></button>
		<div class="container">
				<span [ngSwitch]="tab">
				<div *ngSwitchCase="0">
					<app-home-proyectos></app-home-proyectos>	
				</div>
				<div *ngSwitchCase="1">
					<app-inbox></app-inbox>
				</div>
				 <div *ngSwitchCase="2"> <!--CALENDARIO DE ACTIVIDADES -->
					<h3 class="text-center"> <i class="fas fa-calendar-alt"></i> Calendarizar clase</h3>
					<app-tareas></app-tareas>
				</div>
				<div *ngSwitchCase="3">
					<h3 class="text-center"> <i class="fas fa-users"></i> Tu grupo</h3>
					<app-tu-equipo></app-tu-equipo>
				</div>
				<div *ngSwitchCase="4">
					<h3 class="text-center"> <i class="fas fa-tasks"></i> Calendarizar clase</h3>
					<app-asignar-rol></app-asignar-rol>
				</div>
				<div *ngSwitchCase="5">
					<h3 class="text-center"> <i class="fas fa-chalkboard-teacher"></i> Foro de discusión</h3>
					<app-posts></app-posts>
				</div>
				</span>
		</div>
	</mat-sidenav-content>
  </mat-sidenav-container>




  
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://cdn.rawgit.com/zenorocha/clipboard.js/master/dist/clipboard.min.js"></script>
