.mat-sidenav-container{
    background: transparent;
    height: 90%;

}
.sidenav-bar{
    width: 25%;
    padding: 2%;
    background:rgb(53, 53, 53);
}
.btn-link{
    color: #ffffff;
}
h3{
    color: white;
    font-family: "roboto";
}









 /* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
    .sidenav-bar{
        width: 40%;
    }
    
    
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    .sidenav-bar{
        width: 35%;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    .sidenav-bar{
        width: 35%;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
    .sidenav-bar{
        width: 30%;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {    
    .sidenav-bar{
        width: 60%;
    }
}