
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" [routerLink]="['/']"><i class="fas fa-handshake"></i> Tutorías</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger"
                [routerLink]="['/crear-grupo']" routerLinkActive="active">
                <i class="fas fa-plus-square"></i>Crear grupo</a>
            </li>
              <li class="nav-item">
                <a class="nav-link js-scroll-trigger"
                [routerLink]="['/asesores']" routerLinkActive="active">
                <i class="fas fa-users"></i>Usuarios</a>
              </li>

            <li class="nav-item">
                <a [routerLink]="['/tus-proyectos']" routerLinkActive="active"  class="nav-link js-scroll-trigger"><i class="fas fa-project-diagram"></i>Grupos</a>
              </li>
            
              <li class="nav-item">
                  <a [routerLink]="['/cuenta']" routerLinkActive="active"  class="nav-link js-scroll-trigger"><i class="fas fa-user"></i>Cuenta</a>
                </li>
              <li class="nav-item">
                <a [routerLink]="['/lista']" routerLinkActive="active"  class="nav-link js-scroll-trigger"><i class="fa fa-list-ol"></i> Lista de clases</a>
              </li>


          </ul>
          <button (click)="login()" *ngIf="!loggeado" class="btn btn-sm btn-success">Login</button>
          <button  (click)="logout()" *ngIf="loggeado" class="btn btn-sm btn-danger">Salir</button>
        </div>

      </nav>
    <!-- Custom scripts for this template -->
<script src="node_modules/static/js/grayscale.js"></script>


<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Auth app</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/precios']">Precios</a>
      </li>
      <li class="nav-item" *ngIf="_authService.isAuthenticated()">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/protegida']">Protegida</a>
      </li>
    </ul>
    <span class="navbar-text">
      <button (click)="login()" class="btn btn-outline-primary"
      *ngIf="!_authService.isAuthenticated()">Login</button>
      <button (click)="_authService.logout()" class="btn btn-danger"
      *ngIf="_authService.isAuthenticated()">Logout</button>
    </span>
  </div>
</nav>!-->