<h1 mat-dialog-title>{{data.data.title}}</h1>
<mat-dialog-content class="mat-typography">
    <hr>
    <div class="row justify-content-center" [ngSwitch]="estado">
        <span class="badge badge-success"
        *ngSwitchCase="'a'">Terminado</span>
        <span class="badge badge-warning"
        *ngSwitchCase="'b'">En proceso de ser aceptado</span>
        <span class="badge badge-danger"
        *ngSwitchCase="'c'">Sin empezar</span>
    </div>
    <hr>

    <!-- <div *ngIf="estado != 'a'">
        <h3>Sube un archcivo de avances(solo zip y rar)</h3>
        <mat-progress-bar mode="determinate" [value]="procentajeSubida"></mat-progress-bar>
        <input class="form-control" type="file" (change)="subirArchivo($event)" accept=".zip,.rar" />
        <br>
        
    </div> -->
    <!-- <div *ngFor="let tarea of toDoList">
        <input (click)="cambarToDoList(tarea.data.id, 't')" *ngIf="tarea.data.completada == 'f'" type="checkbox" [name]="tarea.data.id" [value]="tarea.data.id">
        <input (click)="cambarToDoList(tarea.data.id, 'f')" checked="true" *ngIf="tarea.data.completada == 't'" type="checkbox" [name]="tarea.data.id" [value]="tarea.data.id">
        {{tarea.data.tarea}} <br>

    </div> -->
    <hr>
    <br>
    <strong>{{data.data.descripcion}}</strong>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-danger mr-2" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>