<div class="container mt-5">
    <h3 >¡Unete y comienza a colaborar ya!</h3>
    <br>
    <br>
    <hr>
    <div class="row justify-content-center">
      <div class="form-group">
        <label for="codigo" class="label">Código de proyecto</label>
        <input placeholder="ej. A43zKp1!34" class="form-control border-dark" type="text" name="codigo" id="codigo">
      </div>

    </div>
    <div class="row justify-content-center">
        <button class="btn btn-primary"> 
          ¡Únete a tu equipo!</button>
    </div>

    <hr>
  </div>
  