<h1 mat-dialog-title>Nuevo post</h1>
<mat-dialog-content class="mat-typography">
    <hr>
    <!-- <div class="row justify-content-center" [ngSwitch]="estado">
        <span class="badge badge-success"
        *ngSwitchCase="'a'">Terminado</span>
        <span class="badge badge-warning"
        *ngSwitchCase="'b'">En proceso de ser aceptado</span>
        <span class="badge badge-danger"
        *ngSwitchCase="'c'">Sin empezar</span>
    </div> -->
    <hr>
    <!-- <div class="dropdown">
        <select #selectEstado id="selectEstado" (change)="cambioStatus()" class="ml-3 custom-select">
            <option value="estado">--Estado en el que se encuentra la tarea--</option>
            <option value="a">Terminado</option>
            <option value="b">En proceso</option>
            <option value="c">Sin empezar</option>
        </select>
    </div> -->
    <div>
        <mat-form-field style="width: 100%;">
                <mat-label>Contenido</mat-label>
                <textarea [(ngModel)]="contenido" matInput></textarea>
                </mat-form-field>
        <h3>Sube un archcivo apoyo(solo zip y rar)</h3>
        <mat-progress-bar mode="determinate" [value]="procentajeSubida"></mat-progress-bar>
        <input class="form-control" type="file" (change)="subirArchivo($event)" accept=".zip,.rar" />
        <br>
        
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button class="btn btn-danger mr-2" mat-dialog-close>Cancelar</button>
</mat-dialog-actions>