<app-app-loading *ngIf="!cargados"></app-app-loading>

<div class="container mt-5 mb-5" *ngIf="cargados">
  <div class="row m-4 pt-2">

      <div *ngFor="let post of posts;" class="card text-white bg-dark" style="max-width: 18rem;">
          <div class="card-header">Usuario: <strong>{{post.data.usuario | usuario:usuarios}}</strong></div>
          <div class="card-body">
            <h5 class="card-title">{{post.data.contenido}}</h5>
            <a [href]="post.data.link">Descargar recurso</a>
          </div>
        </div>
  </div>

<div class="derecha">
  <button (click)="newPost()" class="btn btn-dark">Nuevo aporte <i class="fas fa-plus-square"></i> </button>
</div>