.container{
    -webkit-box-shadow: -5px 3px 58px 8px rgba(0,0,0,0.8);
    -moz-box-shadow: -5px 3px 58px 8px rgba(0,0,0,0.8);
    box-shadow: -5px 3px 58px 8px rgba(0,0,0,0.8);
    height: 70%;
    align-items: center;
    overflow-y: scroll;
}
.container{
    font-family: "roboto";
}
img{
    height: 20%;
    width: 20%;
}
/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {
    .container{
        height: 100%;
        margin-top: 0% !important;
        -webkit-box-shadow: -5px 3px 58px 8px transparent;
        -moz-box-shadow: -5px 3px 58px 8px transparent;
        box-shadow: -5px 3px 58px 8px transparent;
    }
    img{
        height: 40%;
        width: 40%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {

}

/* // Large devices (desktops, 992px and up) */
@media (max-width: 992px) { 
    .container{
        height: 70%;
    }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    .container{
        height: 70%;
    }
 }